@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v18-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v18-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v18-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

::selection {
	color: #FFFFFF;
	background: #323232;
}

::-moz-selection {
	color: #FFFFFF;
	background: #323232;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', Helvetica;
	position: relative;
	min-height: 100%;

	margin: 0;

	background-color: #f0f0f0;
}

pre {
	line-height: 1.2 !important;
	max-height: 300px;
}

code {
	white-space: inherit !important;
	font-family: consolas, monospace !important;
}

.main-container {
	padding: 250px 30px 110px 30px;

	color: #151515;
	background-color: #ffffff;

	border-left: solid 1px #323232;
	border-right: solid 1px #323232;

	text-align: justify;
	font-size: 15px;
}

@media screen and (max-width: 940px) {
	.main-container {
		border: none;
	}
}

@media screen and (max-width: 500px) {
	.main-container {
		padding-top: 350px;
		padding-bottom: 180px;
	}
}

h1.title, .section h1,  .section h2, .section h3,
.section h4,  .section h5, .section h6 {
	text-align: left !important;
}

.section h2 {
	padding-top: 95px !important;
	margin-top: -80px !important;
}

a, a:visited {
	color: #003379;
	text-decoration: underline;
}

a:hover, a:active {
	color: #cc0000;
}


blockquote {
	font-size: 15.5px;
	border-left: 5px solid #003379;
	background-color: #f0f0f0;
}
