pre {
    overflow-x: auto;

    line-height: 1.2;
    max-height: 300px;

    padding: 9.5px;

    font-size: 13px;

    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px;
}

code {
    font-family: consolas, monospace !important;
    font-size: 90%;

    padding: 2px 4px;

    color: #c7254e;

    background-color: #f9f2f4;
    border-radius: 4px;
}

pre code {
    padding: 0;
    background-color: transparent;
}

code > a.sourceLine > span.kw { color:#007020; font-weight:bold; } /* Keyword */
code > a.sourceLine > span.dt { color: #902000; } /* DataType */
code > a.sourceLine > span.dv { color: #40a070; } /* DecVal */
code > a.sourceLine > span.bn { color: #40a070; } /* BaseN */
code > a.sourceLine > span.fl { color: #40a070; } /* Float */
code > a.sourceLine > span.ch { color: #4070a0; } /* Char */
code > a.sourceLine > span.st { color: #4070a0; } /* String */
code > a.sourceLine > span.co { color: #60a0b0; font-style: italic; } /* Comment */
code > a.sourceLine > span.ot { color: #007020; } /* Other */
code > a.sourceLine > span.al { color: #ff0000; font-weight: bold; } /* Alert */
code > a.sourceLine > span.fu { color: #06287e; } /* Function */
code > a.sourceLine > span.er { color: #ff0000; font-weight: bold; } /* Error */
code > a.sourceLine > span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */
code > a.sourceLine > span.cn { color: #880000; } /* Constant */
code > a.sourceLine > span.sc { color: #4070a0; } /* SpecialChar */
code > a.sourceLine > span.vs { color: #4070a0; } /* VerbatimString */
code > a.sourceLine > span.ss { color: #bb6688; } /* SpecialString */
code > a.sourceLine > span.im { } /* Import */
code > a.sourceLine > span.va { color: #19177c; } /* Variable */
code > a.sourceLine > span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code > a.sourceLine > span.op { color: #666666; } /* Operator */
code > a.sourceLine > span.bu { } /* BuiltIn */
code > a.sourceLine > span.ex { } /* Extension */
code > a.sourceLine > span.pp { color: #bc7a00; } /* Preprocessor */
code > a.sourceLine > span.at { color: #7d9029; } /* Attribute */
code > a.sourceLine > span.do { color: #ba2121; font-style: italic; } /* Documentation */
code > a.sourceLine > span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code > a.sourceLine > span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code > a.sourceLine > span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
