.entries {
	display: flow-root;
	margin: 0 auto;
}

.entry {
	float: left;
	display: block;
	margin-top: -1px;

	padding: 5px 5px;

	width: 100%;

	color: #151515;
	background-color: #fefefe;

	border: solid 1px #aaaaaa;
	/*border-bottom: none;*/
	text-decoration: none;
}

/*.entry:last-child {
	border-bottom: solid 1px #aaaaaa;
}
*/

.entry:hover {
	background-color: #efefef;
}

.entry .title, .entry .title:visited {
	color: #151515;
	text-decoration: none;
	display: inline-block;
	text-align: left;
}

.entry .title:hover, .entry title:active {
	color: #cc0000;
	text-decoration: underline;
}

.entry .title h4 {
	margin: 0;

	font-size: 16px;
	font-weight: bold;

}

.entry .date {
	font-size: 13px;
	font-style: italic;
}

.entry .description {
	font-size: 14px;
}

/* */

.tag {
	display: inline-block;
	padding: 0 4px;
	margin: 2px 2px;

	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none;

	background-color: #003379;
	border: 1px solid #323232;
	border-radius: 4px;

}

.tag:first-child {
	margin-left: 0;
}

.tag:last-child {
	margin-right: 0;
}

.tag:hover {
	color: #ffffff;
	text-decoration: none;

	background-color: #323232;
	border: 1px solid #121212;
}

/* */

#header h1.title {
	margin-bottom: 0 !important;

	font-size: 30px !important;
	font-weight: bold !important;
	font-style: italic !important;
}

#header h1.title_margin {
	margin-bottom: 20px !important;
}

#header .date {
	font-size: 15px;
	margin-top: 2px;
}

#header #entry_section {
	padding-top: 10px;
}

#header #project_section a, #header #project_section a:visited {
	text-decoration: none;
}

#header #project_section a:hover, #header #project_section a:active  {
	text-decoration: underline;
}

#header #tag_section {
	padding-bottom: 10px;
}

