#footer_message {
	float: left;


	text-align: left;
	font-size: 10px;
}

#footer_message a {
	text-decoration: none;
}

#footer_message a:hover {
	text-decoration: underline;
}

#footer {
	position:absolute;
	bottom: 0;
	left: 0px;
	right: 0px;

	background-color: #323232;
	border-top: solid 2px #e6e6e6;
}

#footer .content {
	max-width: 940px;
	margin-left: auto;
	margin-right: auto;

	padding: 5px 15px;
	text-align: right;
}

#footer .content a, .footer .content a:hover  {
	color: #ffffff;
	text-decoration: underline;
}

#footer #logo_footer {
	display: inline-block;
	float: left;
}

#footer #logo_footer img {
	height: 75px;
}

#footer #right_column {
	display: inline-block;
	padding-top: 20px;
}

#footer .text {
	font-size: 12px;
	color: #ffffff;
}

@media screen and (max-width: 500px) {
	#footer #logo_footer {
		float: none;
		width: 100%;
		text-align: center;
	}

	#footer #right_column {
		padding-top: 5px;
		width: 100%;
		text-align: center;
	}
}

