.info_block {
	float: left;
	display: inline-block;
	padding: 0 10px 0 0;
}

.info_block .title {
	padding: 5px 10px;
	border: solid 1px #000000;
	border-bottom: none;
}

.info_block .content {
	padding: 10px;
	border: solid 1px #000000;
}


.info_block .content .part {
	display: table-cell;
}

.info_block .content .part a {
	text-decoration: none;
}

.info_block .content .photo {
	width: 90px;
	padding-right: 10px;
}

.info_block .content .description {
	vertical-align: top;
}

.info_block .links a {
	font-size: 45px;
	line-height: 45px;
	color: #003379;
	text-decoration: none;
}

.info_block .links a:hover {
	color: #323232;
	text-decoration: none;
}

@media screen and (max-width: 700px) {
	.info_block {
		display: block !important;
		padding: 10px 0 10px 0 !important;
		width: 100% !important;
	}
}

@media screen and (max-width: 500px) {
	.info_block .content .part {
		display: block !important;
		width: 100% !important;
	}

	.info_block .content .photo {
		padding: 0 0 10px 0;
		text-align: center;
	}
}
