#navigationContainer {
	width: 100%;
}

#navigationContainer .left {
	float: left;
	width: 125px;
}

#navigationContainer .center {
	margin: 0 auto;
}

#navigationContainer .right {
	float: right;
	width: 125px;
}

#navigationContainer .navigateButton {
	display: table;
	padding: 6px 10px;

	font-size:18px;

	border:1px solid #323232;
	border-radius:4px;
	color:#ffffff !important;
	background-color:#003379;

	text-align: center;
	text-decoration: none;
}

#navigationContainer .navigateButton:hover {
	border:1px solid #121212 !important;
	color:#ffffff !important;
	background-color:#323232 !important;

	text-decoration: none;
}

#navigationContainer .navigateButtonInvisible {
	visibility: hidden !important;
}


@media screen and (max-width: 600px) {
	#navigationContainer {
		float: left;
		padding-bottom: : 15px
	}

	#navigationContainer .navigateButton {
		display: initial;
		float: left;
		width: 100% !important;
		margin: 5px 0 !important;
	}

	#navigationContainer .navigateButtonInvisible {
		display: none !important;
	}
}
