#progressBarContainer {
	left:0;
	width: 100%;
	height: 0.4em;
	margin-bottom: 0px;
	position: fixed;
	top: 0px;
	overflow: hidden;
	background-color: transparent;
	content: "";
}

#progressBarContainer .progressBar {
	width: 0%;
	float: left;
	height: 100%;
	z-index: 9999;
	max-width: 100%;
	background-color: #003379;
	-webkit-transition: width .6s ease;
	-o-transition: width .6s ease;
	transition: width .6s ease;
}
