.projects {
	display: flow-root;
	margin: 0 auto;
}

.project {
	float: left;
	display: block;

	margin: 2px 0 10px;
	padding: 5px;

	width: 100%;

	color: #151515;
	background-color: #fefefe;

	border: solid 1px #000000;
	text-decoration: none;
}

.project .notice {
	float: left;

	padding: 5px 8px;
	margin: -6px;

	color:  #ffffff;
	font-size: 16px;

	border-left: solid 8px;
}

.project .opened {
	border-color: #ff6200;
	background-color: #b84600;
}

.project .closed {
	border-color: #0154c6;
	background-color: #003379;
}

.project .image {
	height: 300px;
	margin: -6px;

	background-position: center center;
	background-repeat: no-repeat, repeat;
	background-size: cover;

	box-shadow: inset -40px -40px 100px #00000033, inset 40px 40px 100px #00000033;
}

.project .title {
	padding: 0;
	margin: 20px 10px 10px;
}

.project .description {
	margin: 10px;
}

.project ol {
	padding: 5px 0 0 10px;
	list-style: none;
}

.project ol li {
	text-align: left;
	padding-left: 2.0em;
}

.project ol li:before {
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em;
	width: 0.8em;

	content: "\f101";
}

.project li a, .project li a:visited {
	text-decoration: none;
}

.project li a:hover, .project li a:active {
	text-decoration: underline;
}
