.table-of-contents .title{
	color: #000000;
	font-size: 15px;
	font-weight: bold;
}

.table-of-contents ul {
	padding: 5px 0 15px 0;

	list-style: none;
}

.table-of-contents ul li {
	display:block;

	border-top: none;
	border-bottom: solid 1px #dcdcc8;
	border-right: solid 1px #dcdcc8;
	border-left: solid 1px #dcdcc8;
}

.table-of-contents ul li:hover {
	background-color: #EFEFEF;
}

.table-of-contents ul li:first-child {
	border-top: solid 1px #dcdcc8;

	border-radius: 4px 4px 0 0;
}

.table-of-contents ul li:last-child {
	border-bottom: solid 1px #dcdcc8;

	border-radius: 0 0 4px 4px;
}

.table-of-contents ul li:only-child {
    border-radius: 4px 4px 4px 4px;
}

.table-of-contents ul li a, .table-of-contents ul li a:hover, .table-of-contents ul li a:active, .table-of-contents ul li a:visited {
	display:block;

	padding: 5px 10px;
	color: #000000;
	text-decoration: none;

	cursor: pointer;
}

.table-of-contents ul li ul {
  display: none;
}
